<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT-CLUB</title>
</head>
<body>

    <% if (user) {%>

        <h1>WELCOME BACK <%= user.first_name + " " + user.last_name %></h1>
        <a href="/log-out">LOG OUT</a>



        <form action="add-message" method="POST">

            

        </form>

     <% } else { %>

        <h1>please log in</h1>

         <%- include('partials/errors.ejs') %>

        <form action="/log-in" method ="POST">

            <div>
                <label for="username">Username</label>
                <input id="username" name="username" type="email" placeholder="Enter email address">

            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
            </div>

            <input type="submit" value="Login">

        </form>

    <%}%>



    <!-- <h1>"Welcome to the Club"</h1> -->

    <p>Do not have an account <a href="/sign-up">Sign Up</a> Here.</p>
</body>
</html>