<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <%- include('./partials/errors.ejs') %>

    <form action="/sign-up" method="POST">
        <div>
            <label for="fname">First Name</label>
            <input id="fname" name="firstname" type="text">
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input id="lname" name="lastname" type="text">
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" name="Email" type="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
        </div>
        <div>
            <label for="conf-password">Confirm Password</label>
            <input id="conf-password" name="confPassword" type="password">
        </div>

        <div>
            <label for="is-admin">Is Admin?</label>
            <input id="is-admin" name="isAdmin" type="radio">
        </div>
        <div>
            <label for="member">Is a member?</label>
            <input id="member" name="member" type="member">
        </div>
        <div>
            <input value="Login" type="Submit">
        </div>


    </form>
</body>
</html>