<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="POST">
        <div>
            <label for="fname">First Name</label>
            <input id="fname" name="firstname" type="text">
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input id="lname" name="lastname" type="text">
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" name="Email" type="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
        </div>
        <div>
            <label for="conf-password">Confirm Password</label>
            <input id="conf-password" name="confPassowrd" type="password">
        </div>


    </form>
</body>
</html>